@import "../../../../assets/styles/mixins.scss";

.consultation {
  &__services {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 70px;
      padding-bottom: 94px;

      @include mobile(1101px) {
        gap: 60px;
        padding-bottom: 60px;
      }
    }
  }
}
