@import "../../../../assets/styles/mixins.scss";

.faq {
  &__help {
    &__links {
      max-width: 624px;
      margin: 0 auto;

      &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--border2);
        padding: 36px 0;

        &:nth-last-of-type(1) {
          border: 0;
        }

        &:first-child {
          @include mobile(600px) {
            padding-top: 0;
          }
        }

        &:last-child {
          @include mobile(600px) {
            padding-bottom: 0;
          }
        }

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--border);
          width: 48px;
          height: 48px;
          border-radius: 100vh;
          color: var(--dark);
        }
      }
    }

    .faq-button {
      margin: 62px auto 0;
      justify-content: center;
    }
  }
}

.faq-topic {
  .gradient-layout__content {
    background: transparent;
    padding: 0;
  }

  .app__faq__list {
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
  }
}
