@import "../../../../assets/styles/mixins.scss";

.coming-soon {
  padding-top: 80px;
  padding-bottom: 120px;


  @include mobile(986px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__content {
    max-width: 847px;
    margin: 0 auto;
    text-align: center;

    &__description {
      margin-top: 20px;
      margin-bottom: 40px;
      color: var(--text);
      font-family: "Inter", sans-serif;
    }

    &__input {
      position: relative;
      max-width: 500px;
      margin: 0 auto;

      .coming-button {
        position: absolute;
        right: 0;
        top: 5px;
        padding: 12px 14px;
        border-radius: 10px;
      }
    }
  }
}
