@import "../../../../assets/styles/mixins.scss";

.gradient-layout {
  margin-top: 80px;
  margin-bottom: 120px;

  @include mobile(756px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .bg-arrow {
    // position: relative;

    &::before {
      content: "";
      background: url("/images/Polygon_3.png");
      position: absolute;
      left: 52px;
      top: 236px;
      width: 159px;
      height: 176px;
      background-size: contain;
      background-repeat: no-repeat;

      @include mobile(1210px) {
        width: 120px;
        height: 140px;
        top: 120px;
        left: 16px;
      }

      @include mobile(937px) {
        top: 100px;
      }

      @include mobile(600px) {
        width: 81px;
        height: 81px;
        top: 90px;
        left: -16px;
      }
    }

    &::after {
      content: "";
      background: url("/images/Polygon_2.png");
      position: absolute;
      right: 10px;
      bottom: 0;
      width: 434px;
      height: 481px;
      background-size: contain;
      background-repeat: no-repeat;

      @include mobile(1210px) {
        width: 400px;
        height: 500px;
      }

      @include mobile(1083px) {
        width: 300px;
        height: 350px;
      }

      @include mobile(600px) {
        width: 147px;
        right: 5px;
        bottom: -200px;
      }

      @include mobile(430px) {
        bottom: 0px;
      }

      @include mobile(375px) {
        bottom: 50px;
      }
    }
  }

  &__content {
    background: var(--white);
    border-radius: 20px;
    max-width: 941px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 60px 20px 62px;

    @include mobile(756px) {
      padding: 40px 20px;
    }
  }
}
