// Layout component styles
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set height to cover the entire viewport */
}

.wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

// Navigation Sidebar
.nav {
  display: flex;

  flex: 0 0 19%;
  background-color: #f0f0f0;
}

// Main Content Area
.content {
  flex: 2;
  overflow: scroll;

  //   padding: 48px; /* Adjusted padding */
  //   overflow-y: auto;
}
// @media (min-width: 768px) {
//   .content {
//     padding-left: 48px;
//   }
// }

// @media (min-width: 1024px) {
//   .content {
//     padding-left: 25%; /* Adjusted */
//   }
// }
