@import "../../../../assets/styles/mixins.scss";

.choose-document-type {
  &__text {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @include mobile(600px) {
      margin-bottom: 20px;
    }
  }
}

.document-thank-text {
  margin-top: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  color: var(--text);
  font-weight: 400;
}

.document-thank-button {
  margin: 40px auto 60px;
}
