@import "../../../../assets/styles/mixins.scss";

.service-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @include mobile(1101px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include mobile(1101px) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    max-width: 512px;

    .description {
      margin-top: 20px;
      margin-bottom: 40px;
      max-width: 485px;

      @include mobile(600px) {
        margin-top: 16px;
        margin-bottom: 30px;
      }
    }

    .service-button {
      @include mobile(1101px) {
        width: 100%;
      }
    }
  }

  &__image {
    max-width: 620px;

    img {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    @include mobile(1101px) {
      display: none;
    }
  }
}
