$section-heading-text-color: #00b8bf;
$section-heading-border-color: #f0ecf5;

//responsive styles f
@media (max-width: 768px) {
  .business-details {
    padding: 0 0.5rem;
    margin: 1.5rem 1rem;
  }
  .accordion-section .accordion .accordion-header h2 {
    font-size: 1.2rem;
  }
}

.business-details {
  padding: 0 1rem;
  margin: 2.2rem 2rem;

  .section-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem; /* Reduced margin-bottom to decrease vertical spacing */
    padding: 0;
    font-weight: 500;
    padding: 0 -1.5rem;
    color: $section-heading-text-color;
    border-top: 1px solid $section-heading-border-color;
    border-bottom: 1px solid $section-heading-border-color;
  }

  .accordion-section {
    .accordion {
      padding: 0 0;
      margin-bottom: 1.3rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      overflow: hidden;

      // &:last-child {
      //   margin-bottom: 0;
      // }

      .accordion-header {
        display: flex;
        justify-content: space-between;
        //align-items: stretch;
        // padding: 1rem;
        background-color: #f9fafa;
        cursor: pointer;
        width: calc(100% + 2px); /* Full width plus border */
        margin-left: -1px; /* Align with border */
        margin-right: -1px; /* Align with border */

        h2 {
          margin: 0;
          font-size: 1.5rem;
        }

        img {
          width: 1rem;
          height: 1rem;
        }

        &__text {
          padding: 0 1rem;
        }
      }

      .accordion-content {
        padding: 1rem;
        background-color: #fff;
        /* Ensure the content takes the full width of the accordion */
        width: 100%;

        p {
          margin: 0.5rem 0;
          border-bottom: 1px solid $section-heading-border-color;
          padding: 2rem 0; /* Adjust padding to center the content vertically */

          strong {
            display: inline-block;
            width: 150px; /* adjust width as needed for alignment */
          }

          /* Center the option value */
          span {
            display: inline-block;
            text-align: center;
            width: calc(
              100% - 150px
            ); /* Subtract the width of the option for proper alignment */
          }
        }
      }
    }
  }
}
