.base-input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .label {
    color: var(--dark);
  }

  .input-container {
    position: relative;

    .input {
      padding: 12px 14px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--border);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      &:hover {
        background: var(--secondary);
      }

      &::placeholder {
        color: var(--text);
      }
    }

    .textarea {
      height: 260px;
    }

    .input-icons {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-8px);
      pointer-events: none;
    }
  }
}
