@import '../../../../assets/styles/mixins.scss';
@import '../../../../assets/styles/admin.scss';
@import '../../../../assets/styles/_tablestyles.scss';

$input-border-radius: 4px;

%input-styles {
  $input-background-color: #f0f2f3;
  $input-border: 1px solid #f0ecf5;
  $input-padding: 0.7rem 2.4rem;
}

%filter-styles {
  font-family: $main-font-family;
  color: #727272;
}

.controls {
  display: flex;
  margin-bottom: 20px;
  border-radius: 5px;
  flex-wrap: wrap;

  .control-item {
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }

  .search-div {
    .search-bar {
      background-color: #f9fafa;

      input {
        padding: 0.7rem 2.4rem;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #f0ecf5;
      }

      .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .filter-dropdown {
    select {
      width: 14rem;
      padding: 0.7rem 1rem;
      border-radius: $input-border-radius;
      background-color: #f0f2f3;
      @extend %input-styles;
      @extend %filter-styles;

      option {
        margin-right: 2rem;
        color: red;
        font-size: 14px;
      }
    }
  }

  .date-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    span {
      display: inline-block;
      margin: 0 0rem;
      margin-right: -1.7rem;
      @extend %filter-styles;
    }

    form {
      position: relative;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }

      .date-input {
        background-color: #f0f2f3;
        border: 1px solid #f0ecf5;
        padding: 0.7rem 2.1rem;
        border-radius: 4px;
        width: 10rem;
      }

      .calendar-icon {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.table-section {
  @extend %table-section-styles;

  .table-top {
    .table-heading {
      @extend %table-heading;
    }
    .view_all {
      @extend %view_styles;
    }
  }

  .striped-table {
    @extend %striped-table;
    thead {
      @extend %table-data-styles;
    }

    td {
      @extend %table-data-styles;
      .downloads {
      }
    }

    tr {
      .downloads {
        padding-left: 3rem;
      }
    }

    tr:nth-child(odd) {
      background-color: #f9fafa;
    }
  }
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    .control-item {
      margin-bottom: 10px;
      flex: 1;
      justify-content: center;
    }
    .search-div {
      .unique-search-bar {
        width: 100%;
        position: relative;
        input {
          width: 100%;
          padding-left: 2.5rem;
        }
        .unique-search-icon {
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .filter-dropdown {
      select {
        width: 90%; /* Adjust width as needed */
      }
    }
    .date-filters {
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        .react-datepicker-wrapper {
          width: 100%;
        }
        width: 100%; /* Ensure the form takes full width */
        position: relative;
        .date-input {
          display: grid;
          grid-template-row: 1fr 1fr;
          width: 100%;
          padding-left: 2.5rem;
          margin-bottom: 0.5rem;
        }
        .calendar-icon {
          position: absolute;
          left: 0.5rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      span {
        display: none;
      }
    }
  }
}

// @media (min-width: 769px) and (max-width: 1024px) {
//   .controls {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 1rem;
//     padding: 0;

//     .control-item {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding: 0;
//     }

//     .search-div,
//     .filter-dropdown {
//       grid-column: span 2;
//     }

//     .search-div {
//       .search-bar {
//         width: 100%;
//         position: relative;

//         input {
//           width: 100%;
//           padding-left: 2.5rem;
//         }

//         .unique-search-icon {
//           position: absolute;
//           left: 0.5rem;
//           top: 50%;
//           transform: translateY(-50%);
//         }
//       }
//     }

//     .filter-dropdown {
//       select {
//         width: 100%;
//         padding: 0.7rem 1rem;
//       }
//     }

//     .date-filters {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       justify-content: space-between;
//       grid-column: span 2;

//       form {
//         position: relative;
//         width: 100%;

//         .react-datepicker-wrapper {
//           width: 48%;
//         }

//         .date-input {
//           width: 100%;
//           padding-left: 2.5rem;
//         }

//         .calendar-icon {
//           position: absolute;
//           left: 10px;
//           top: 50%;
//           transform: translateY(-50%);
//         }
//       }

//       span {
//         margin: 0 1rem;
//         display: inline-block;
//       }
//     }
//   }
// }

// @media (min-width: 820px) and (max-width: 1024px) {
//   .controls {
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     padding: 0;

//     .control-item {
//       margin-bottom: 10px;
//     }

//     .filter-dropdown {
//       select {
//         width: 100%;
//         margin-left: 0;
//       }
//     }

//     .date-filters {
//       form {
//         width: 100%;
//         position: relative;

//         .react-datepicker-wrapper {
//           width: 100%;
//         }

//         .date-input {
//           width: 46rem;
//           padding-left: 2.5rem;
//         }

//         .calendar-icon {
//           position: absolute;
//           left: 10px;
//           top: 50%;
//           transform: translateY(-50%);
//         }
//       }

//       span {
//         display: none;
//       }
//     }
//   }
// }

@media (min-width: 769px) and (max-width: 1024px) {
  .controls {
    flex-direction: column;
    align-items: stretch;
    padding: 0;

    .control-item {
      margin-bottom: 10px;
      flex: 1;
      justify-content: center;
    }

    .search-div {
      width: 100%;

      .unique-search-bar {
        position: relative;
        width: 100%;
        input {
          width: 100%;
          padding-left: 2.5rem;
        }

        .unique-search-icon {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .filter-dropdown {
      width: 100%;

      select {
        width: 100%;
        padding: 0.7rem 1rem;
      }
    }

    .date-filters {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      form {
        width: 100%;
        position: relative;

        .react-datepicker-wrapper {
          width: 100%;
        }

        .date-input {
          width: 100%;
          padding-left: 2.5rem;
          margin-bottom: 0.5rem;
        }

        .calendar-icon {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      span {
        display: none;
      }
    }
  }
}
