

.main-content {
  position: relative;
  width: 100%;
  padding: 20px;

  .header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    h1 {
      margin: 0;
    }

    .header-right {
      display: flex;
      align-items: center;

      .search-bar {
        margin-right: 20px;
        padding: 5px;
      }

      .notification-icon {
        margin-right: 20px;
        cursor: pointer;
      }

      .user-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #3498db;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }


  .table-section {
    margin-top: 20px;

    .striped-table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        border: 1px solid #ccc;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }
    }
  }
}
