.main-content {
  position: relative;
  width: 100%;
  padding: 20px;

  .header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;

    h1 {
      margin: 0;
    }
  }
}
