@import "../../../../assets/styles/mixins.scss";

.pricing {
  &__hero {
    left: 109px !important;
  }

  &__services {
    &__content {
      display: flex;
      gap: 48px;
      padding-bottom: 90px;

      @include mobile(1189px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include mobile(811px) {
        gap: 20px;
        // padding-bottom: 60px;
      }
    }
  }
}

.pricing-subscription {
  padding-bottom: 0;
}
