.how-lists {
  border-top: 1px solid var(--border3);
  padding-top: 40px;
  margin-top: 40px;

  &__title {
    margin-bottom: 24px;
  }
}

.business-thank-lists {
  max-width: 621px;
  margin: 0 auto;
}
