@import '../../../../assets/styles/_tablestyles.scss';
@import '../../../../assets/styles/mixins.scss';

@import '../../../../assets/styles/admin.scss';

.main-content {
  //overflow: scroll;
}

.dashboard-stats {
  // display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  .stat {
    background-color: #f4f4f4;
    padding: 20px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    border-radius: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  .card-container {
    .statistics-card {
      .card {
        .value {
          font-size: 23px;
          font-weight: 700;
        }
      }
    }
  }
}

.table-section {
  @extend %table-section-styles;

  .table-top {
    .table-heading {
      @extend %table-heading;
    }
    .view_all {
      @extend %view_styles;
    }
  }

  .striped-table {
    @extend %striped-table;

    thead {
      @extend %table-data-styles;
    }

    td {
      @extend %table-data-styles;
    }

    // thead tr,
    // tbody tr:nth-child(odd) {
    //   background-color: #f9fafa;
    // }
  }
}

.second-table {
  //@extend %table-section-styles;
  border: none;
}
