.subscription {
  &__hero {
    bottom: -177px !important;
    right: 70px !important;
  }

  &__services {
    &__subtitle {
      display: flex;
      justify-content: center;
    }

    &__content {
      display: flex;
      gap: 48px;
      padding-top: 58px;
      padding-bottom: 92px;
    }
  }
}
