@import "../../../../assets/styles/mixins.scss";

.subscription {
  &__hero {
    bottom: -177px !important;
    right: 70px !important;
  }

  &__services {
    &__subtitle {
      display: flex;
      justify-content: center;
    }

    &__content {
      display: flex;
      gap: 48px;
      padding-top: 58px;
      padding-bottom: 92px;

      @include mobile(1189px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include mobile(887px) {
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 60px;
      }
    }
  }
}
