.card-container {
  display: flex;
  margin: 5px 0;

  .statistics-card {
    display: flex;

    //   flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 10px 0;
    transition: all 0.3s;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 0.8rem;
      padding: 20px;
      margin-right: 10px;
      transition: all 0.3s;
    }
  }
}
