@import "../../../../assets/styles/mixins.scss";

.offer {
  padding: 30px;
  border-radius: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;

  @include mobile(1024px) {
    padding: 20px;
    width: unset;
    max-width: 400px;
  }

  .offer-text {
    margin-bottom: auto;
  }

  &--purple {
    @extend .offer;
    background: #dfe4ff;
  }

  &--green {
    @extend .offer;
    background: #defaeb;
  }

  &--blue {
    @extend .offer;
    background: #cefbfc;
  }

  &--plain {
    @extend .offer;
    background: var(--white);
    border: 1px solid var(--border);
  }

  &__icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 100vh;
    background: linear-gradient(
      144.69deg,
      #ffffff 0.68%,
      rgba(255, 255, 255, 0.31) 87.57%
    );

    @include mobile(600px) {
      width: 56px;
      height: 56px;
    }

    .icon {
      @include mobile(600px) {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;

    span {
      color: var(--dark);
      font-weight: 600;
      font-family: "PT Serif", serif;
    }

    @include mobile(600px) {
      margin-top: 16px;
      margin-bottom: 28px;
    }
  }

  &__amount {
    display: flex;
    gap: 10px;
    border-top: 1px solid var(--border3);
    padding-top: 30px;
    margin-bottom: 30px;
    align-items: center;
  }

  .offer-button {
    @include mobile(787px) {
      width: 100%;
    }
  }
}
