// .main-content {
//   width: 80%;
//   padding: 20px;
@import '../../../../../assets/styles/mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid #f4f4f6;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  .header-right {
    display: flex;
    align-items: center;
    .search-component {
      background-color: #f9fafa;
      border: 1px solid #bcc6cc26;
      margin-right: 48px;
      padding: 10px 2rem;
      width: 100%;
      display: flex;
      border-radius: 4px;
      .search-bar {
        margin-right: 20px;
        padding: 0.1rem;
        background-color: #f9fafa;
      }
    }

    .profile {
      display: flex;
      align-items: center;
      gap: 0.7rem;

      .notification-icon {
        margin-right: 20px;
        cursor: pointer;
        margin: 0 20px;
        border-radius: 50%;
        background-color: #f2b3001a;
        padding: 10px;
        width: 2.6875rem;
        height: 2.6875rem;
      }

      .user-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #00b8bf;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .ham-icon {
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
  }

  //tab styles
  @media (max-width: 900px) {
    .header {
      padding: 1rem 1.2rem;

      h1 {
        font-size: 20px;
      }

      .header-right {
        .search-component {
          display: none;
        }

        .profile {
          .notification-icon {
            width: 2rem;
            height: 2rem;
            padding: 5px;
          }

          .user-icon {
            width: 30px;
            height: 30px;
          }
        }
      }

      .ham-icon {
        display: flex;
      }
    }
  }
}

//mobile styles
@media (max-width: 600px) {
  .header {
    padding: 0.5rem 0.8rem;

    h1 {
      font-size: 18px;
    }

    .profile {
      .notification-icon {
        width: 1.5rem;
        height: 1.5rem;
        padding: 3px;
      }

      .user-icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@media (max-width: 900px) {
  .header {
    padding: 1rem 1.2rem;

    h1 {
      font-size: 20px;
    }

    .header-right {
      .search-component {
        display: none;
      }

      .profile {
        .notification-icon {
          width: 2rem;
          height: 2rem;
          padding: 5px;
        }

        .user-icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    .ham-icon {
      display: flex;
    }
  }
}

// @media (max-width: 600px) {
//   .header {
//     padding: 0.5rem 0.8rem;

//     h1 {
//       font-size: 18px;
//     }

//     .profile {
//       .notification-icon {
//         width: 1.5rem;
//         height: 1.5rem;
//         padding: 3px;
//       }

//       .user-icon {
//         width: 25px;
//         height: 25px;
//       }
//     }

//     .ham-icon {
//       display: flex;
//       font-size: 1.5rem;
//     }
//   }
// }
// @media (max-width: 900px) {
//   .header {
//     .header-right {
//       .search-component {
//         display: none;
//       }
//     }
//     padding: 1rem 1.2rem;
//     .ham-icon {
//       display: flex;
//     }
//   }
// }
