@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$main-font-family: 'Inter', sans-serif;
%main-font-family {
  font-family: $main-font-family;
}

.my-element {
  @extend %main-font-family;
  font-size: 16px;
}

// .table-icons {
//   @extend %table_icon_styles;
// }
