@import './_admin.scss';

$main-font-family: Inter, sans-serif;

%view_styles {
  float: right;
  color: #00b8bf;
  margin-bottom: 1rem;
}

%table-data-styles {
  padding: 10px;
  color: #1c1c1c;
  font-weight: 400;
  font-family: $main-font-family;
}

%table-section-styles {
  margin-top: 20px;
  border: 1px solid #f4f4f6;
  border-radius: 0.7rem;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

%table-heading {
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 22px;
  color: #425669;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

%first-row-styles {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1rem;
  color: #425669;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

%striped-table {
  margin-top: 1.4rem;
  width: 100%;
  border-collapse: collapse;

  tbody {
    @extend %table-data-styles;

    tr {
      td {
        padding: 20px 10px; // Adjust the padding as needed
        text-align: left; // Ensure the text is aligned left for consistency
      }

      &:hover {
        cursor: pointer;
      }
    }

    tr:first-child { // Table Heading
      font-size: 18px;
      font-weight: 500;
      color: #425669;
    }

    tr:nth-child(odd) { //zebra effect table 
      background-color: #f9fafa;
    }
  }

  .view-button {
    background-color: #fff;
    color: #6b7280;
    padding: 7px 0.9rem;
    border-radius: 0.2rem;
    border: 1px solid #f0ecf5;
    font-family: $main-font-family;
    font-weight: 400;
  }
}

@media (max-width: 900px) {
  .table-section {
    overflow-x: auto;

    .striped-table {
      tbody tr {
        td {
          white-space: nowrap; // Prevent text wrapping
          text-overflow: ellipsis; // Add ellipsis for overflowed text
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .table-section {
    overflow-x: auto;

    .view_all {
      margin: 1rem 0;
    }

    .striped-table {
      tbody tr {
        td {
          padding: 20px 10px; // Maintain consistent padding
          font-size: 14px; 
          white-space: nowrap; // Prevent text wrapping
          text-overflow: ellipsis; // Add ellipsis for overflowed text
        }
      }
    }
  }
}


// // Styles for the first row (table heading)
// .striped-table {
//   thead tr, // If your table uses thead
//   tbody tr:first-child { // Fallback for tbody if thead is not used
//     font-size: 18px;
//     font-weight: 500;
//     color: #425669;
//   }
// }