@import './_admin.scss';

$main-font-family: Inter, sans-serif;

%view_styles {
  float: right;
  color: #00b8bf;
}

%table-data-styles {
  padding: 10px;
  //order: none !important;
  color: #1c1c1c;
  font-weight: 400;
  font-family: $main-font-family;
}

%table-section-styles {
  margin-top: 20px;
  border: 1px solid #f4f4f6;
  border-radius: 0.7rem;
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

%table-heading {
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 22px;
  color: #425669;
  margin-bottom: 1rem;
  border-radius: 2rem;
}
%first-row-styles {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1rem;
  color: #425669;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

%striped-table {
  background-color: none;
  margin-top: 1.4rem;
  width: 100%;
  border-collapse: collapse;

  tbody {
    @extend %table-data-styles;

    tr {
      td {
        padding: 20px 10px;
        text-align: left; // Ensure the text is aligned left for consistency
      }
    }

    tr:nth-child(odd) {
      background-color: #f9fafa;
    }
  }

  // thead tr,
  // tbody tr {
  //   &:nth-child(odd) {
  //     background-color: #f9fafa;
  //   }
  // }

  .view-button {
    background-color: #fff;
    color: #6b7280;
    padding: 7px 0.9rem;
    border-radius: 0.2rem;
    border: 1px solid #f0ecf5;
    font-family: $main-font-family;
    font-weight: 400;
  }
}
