@import "../styles/mixins.scss";

.invoice-details {
  &__content {
    display: flex;

    @include mobile(1105px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__text {
    max-width: 721px;
    margin-left: auto;
    padding: 80px 73px 54px;
    width: 50vw;

    @include mobile(1105px) {
      margin-left: unset;
      width: unset;
    }

    @include mobile(600px) {
      padding: 60px 20px;
    }
  }
}

.invoice-subtitle {
  justify-content: flex-start !important;
  margin-bottom: 30px;
}

.invoice-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 60px;

  p {
    color: var(--dark);
    font-weight: 500;
  }

  .back-button {
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100vh;
    color: var(--white);

    .back-icon {
      transform: rotate(180deg);
      width: 5px;
      height: 9px;
    }
  }
}

.invoice-price {
  margin: 40px 0;
}

.invoice-description {
  max-width: 511px;
}

.privacy-info {
  border-top: 1px solid var(--border3);
  padding-top: 40px;
  margin: 40px 0;

  &__title {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--dark) !important;
  }

  &__description {
    color: #64769e !important;

    a {
      text-decoration: underline;
    }
  }
}

.template-container {
  background: linear-gradient(282.33deg, #eafafe 52.56%, #f2fdfa 115.44%);
  flex: 1;
  max-width: 50vw;
  padding: 40px 20px 0;

  @include mobile(1105px) {
    width: 100%;
    max-width: unset;
  }

  @include mobile(600px) {
    padding: 25px 20px;
  }

  .template-image {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f6f6f6;
    min-height: 100%;
    margin: 0 auto;
    max-width: 512px;

    @include mobile(1105px) {
      min-height: 50vh;
    }

    @include mobile(600px) {
      min-height: 444px;
    }

    &__text {
      max-width: 260px;
      opacity: 30%;
      text-align: center;
    }
  }
}
